
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My Site
  body
    header
      nav
        h1
          a(href='/') My Courses Site
        ul
          li
            a(href='/courses') Courses
          li
            a(href='/users') Users
          li
            a(href='/hello?name=Guest') Say Hello
    
    main
      block content
    
    footer
      p Created by Your Name
      p
        a(href='https://github.com/DmitryS1981')